# WooCommerce
WOOCOMMERCE_URL=https://todolisto.uy
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=

# Google Sheets
GOOGLE_SHEET_ID=1ta-KmHmCUepozNAcLJinstOAqBHrXZKUJgJ6ldsYzm0
GOOGLE_SHEET_NAME=Productos
GOOGLE_SERVICE_ACCOUNT_JSON=
